<%- include('./partials/header') %>

<%- include('./partials/nav') %>


<!-- <div class=" rounded-l-xl w-[80%] py-[10%] bg-purple-400 m-auto">
  <h1 class="text-center text-8xl font-extrabold text-yellow-50">This is Homepage</h1>

  <p class="flex justify-center gap-x-5 mt-10 ">
    <a class="hover:bg-red-600 rounded text-white py-3 px-5 bg-red-400" href="/login">Continue Surfing</a>
    <a class=" hover:bg-red-600 rounded text-white py-3 px-5 bg-red-400" href="/register">Start Your Journey
      Today</a>

  </p>
</div>
 -->

 <form action="/Create" method="post">

  <input type="text" placeholder="username" name="username" > <br>
  <br>
  <input type="password" placeholder="password"  name="password"> <br>
  <br>
  <button>Submit</button>
  
  
  </form>







<%- include('./partials/footer') %>